<div class="text-center" id="edit-mode">
  <p>You can edit this post</p>
  {{#if logged_in}}
    <h3>Edit Post</h3>
    <form class="form update-form">
      <div class="form-group">
        <label for="update-message">Post Content:</label>
        <textarea class="form-input" type="text" id="update-message" required>
          {{description}}
        </textarea>
        <input type="hidden" id="update-post_id" value="{{post_id}}" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </form>
  {{/if}}
</div>

<div class="text-center" id="normal-mode">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>

  {{#if logged_in}}
    <h3>Post a Comment</h3>
    <form class="form comment-form">
      <div class="form-group">
        <label for="comment-message">Message:</label>
        <textarea class="form-input" type="text" id="comment-message" required>
        </textarea>
        <input type="hidden" id="comment-post_id" value="{{post_id}}" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Comment</button>
      </div>
    </form>
  {{/if}}

  {{#if comments.length}}
    <div class="col-md-6 comment-list">
      <h3>Comments:</h3>

      {{#each comments as |comment|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4>{{comment.username}}</h4>
            <p>{{comment.message}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}

</div>

<script src="/js/post.js"></script>